:root {
   --bodyy: #fff;
   --logoone: #4D5AE5;;
   --logotwo: #2e2f42;
   --but: #404BBF;
   --addone: #434455;
   --addonehf: #404bbf;
   --sect: #F4F4FD;
   --newcolor: #e7e9fc;


}

.bodyy {
   font-family: "Roboto", sans-serif;
   color: var(--addone);
   background-color: var(--bodyy);

   p, h1, h2, h3, h4, h5 {
         margin: 0;
      }

            ul,
            ol {
               margin-top: 0;
               margin-bottom: 0;
               padding-left: 0;
            }
}

.logoone {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--logoone);
   background-color:var(--bodyy); 
   margin-right: 76px;
}

.logotwo { 
   color: var(--logotwo);
   
}

.link {
   text-decoration: none;
}

.list {
   list-style: none;
}


.nav-list {
   display: flex;
   gap: 40px;
}

.but {
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--logotwo);

}

.but:focus {
   color: var(--but);
}

.but:hover {
color: var(--but);
}
   
   
.add {
   font-style: normal;
   margin-left: auto;
}

.addone {
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--addone);

}

.addone:hover {
   color: var(--addonehf);
}

.addone:focus {
color: var(--addonehf);
}
   
.headindex {
   border-bottom: 1px solid var(--newcolor);
}

.divheadindex {
   display: flex;
   align-items: center;

}

.container {
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   align-items: center;
   margin-left: auto;
   margin-right: auto;

}

.navindex {
   display: flex;
   align-items: center;
}

/* Hero */

.hero {
   background-color: var(--logotwo);
   padding-top: 188px;
   padding-bottom: 188px;
}

.herotittle {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--bodyy);

}

.button {
   background-color: var(--logoone);
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--bodyy);
   cursor: pointer;
   display: block;
   min-width: 169px;
   height: 56px;
   border: none;
   background-color: var(--logoone);
   border-radius: 4px;
   cursor: pointer;
   margin: auto;
}

.button:focus {
   background-color: var(--but);
}

.button:hover {
   background-color: var(--but);
}



/* Benefits */

.benefits {
   padding-top: 120px;
   padding-bottom: 120px;
}

.unreal {

   width: calc((100% - 72px) / 4);
}

.delete {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   overflow: hidden;
   clip: auto;
}

.listtwo {
   display: flex;
   gap: 24px;
}

.benefitstittle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--logotwo);
   margin-bottom: 8px;
}

.benefitstext {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--addone);
   line-height: 1.5;

}

/* What are we doing */

.doing { 
   padding-bottom: 120px;
}

.tittledoing {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--logotwo);
   margin-bottom: 72px;
}

.doingimage {
   width: calc((100% - 48px) / 3);
}

/* Our Team */

.team {
   background-color: var(--sect);
   padding-top: 120px;
   padding-bottom: 120px;
}

.tittleteam {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
}

.listourteam {
   display: flex;
   gap: 24px;
}

.listteam {
   background-color: var(--bodyy);
   width: calc((100% - 72px) / 4);

}

.tittletextteam {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--logotwo);

}

.textteam {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--addone);
}

/* Footer */
.footer {
   background-color: var(--logotwo);

}

.footerlogoone {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   background-color: var(--logotwo);

}

.footerlogotwo {
   color: #4d5ae5;
   
}

/* Portfolio */
.bodyyy {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffff;
}

.butall {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--logoone);
   background-color: var(--sect);
   cursor: pointer;
}

.butall:focus {
   color: var(--bodyy);
   background-color: var(--but);
}

.butall:hover {
   color: var(--bodyy);
   background-color: var(--but);
}
.imgp {}

.liportfolio {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--logotwo);

}

.pportfolio {
   font-size: 16px;
   line-height: 1.5;
   font-weight: 400;
   letter-spacing: 0.02em;
   color: var(--addone);
}


.ppfooter {
   color: var(--sect);
}






